<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<dict>
  <key>host</key>
  <string>https://testing.beta.feedhenry.com</string>
  <key>appid</key>
  <string>uUlcwKeJaCoOU7KUdSUE5vt7</string>
  <key>projectid</key>
  <string>uUlcwRIodukUMt8DPTZMOYlk</string>
  <key>appkey</key>
  <string>74012ec08a9338cc634279f77cb4d3f89c4f4ec</string>
  <key>connectiontag</key>
  <string>0.0.3</string>
</dict>
</plist>